---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Kontak Saya">
  <div class="mt-32 mb-20">
    <div
      class="container max-w-2xl px-3 lg:px-0 flex gap-3 flex-col items-center mx-auto"
    >
      <div class="w-full mb-3 flex items-start">
        <h1
          class="card-hand mr-auto whitespace-nowrap text-sm lg:text-base py-2 px-6 lg:px-12 bg-blue-500 text-white font-bold"
        >
          Kontak Saya
        </h1>
      </div>
      <div class="flex flex-col gap-3 w-full">
        <a
          href=""
          class="flex bg-white py-2 px-3 card-hand items-center justify-start gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 72 72"
          >
            <path
              fill="#61b2e4"
              d="M57 12H15a4 4 0 0 0-4 4v42a4 4 0 0 0 4 4h42a4 4 0 0 0 4-4V16a4 4 0 0 0-4-4"
            ></path>
            <path
              fill="none"
              stroke="#fff"
              stroke-miterlimit="10"
              stroke-width="2"
              d="M36.935 62.009h9.5"></path>
            <path
              fill="#fff"
              d="M48.5 26.844h4.688v-7.031c-3.126 0-15.626-3.125-15.626 10.156v4.687h-6.25v7.813h6.25v18.564l7.813-.014V42.47h7.031l.781-7.813h-7.812V29.97c0-3.125 2.344-3.125 3.125-3.125"
            ></path>
            <g fill="none" stroke="#000" stroke-width="2">
              <path
                stroke-miterlimit="10"
                d="M45.619 62h12.155A3.226 3.226 0 0 0 61 58.774V15.226A3.226 3.226 0 0 0 57.774 12H14.226A3.226 3.226 0 0 0 11 15.226v43.548A3.226 3.226 0 0 0 14.226 62h23.476"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M45.618 62V42.208h7.125l.792-7.917h-7.917v-4.75c0-3.167 2.375-3.167 3.167-3.167h4.75V19.25c-3.2-.324-15.834-3.166-15.834 10.292v4.75h-6.333v7.917h6.333V62"
              ></path>
            </g>
          </svg>
          <span class="font-semibold">https://facebook.com/mang_dayat</span>
        </a>
        <a
          href=""
          class="flex bg-white py-2 px-3 card-hand items-center justify-start gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <g fill="none">
              <path
                fill="#2f88ff"
                stroke="#000"
                stroke-linejoin="round"
                stroke-width="4"
                d="M34 6H14C9.58172 6 6 9.58172 6 14V34C6 38.4183 9.58172 42 14 42H34C38.4183 42 42 38.4183 42 34V14C42 9.58172 38.4183 6 34 6Z"
              ></path>
              <path
                fill="#43ccf8"
                stroke="#fff"
                stroke-linejoin="round"
                stroke-width="4"
                d="M24 32C28.4183 32 32 28.4183 32 24C32 19.5817 28.4183 16 24 16C19.5817 16 16 19.5817 16 24C16 28.4183 19.5817 32 24 32Z"
              ></path>
              <path
                fill="#fff"
                d="M35 15C36.1046 15 37 14.1046 37 13C37 11.8954 36.1046 11 35 11C33.8954 11 33 11.8954 33 13C33 14.1046 33.8954 15 35 15Z"
              ></path>
            </g>
          </svg>
          <span class="font-semibold">https://instagram.com/mang_dayat</span>
        </a>
        <a
          href=""
          class="flex bg-white py-2 px-3 card-hand items-center justify-start gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 72 72"
          >
            <path
              fill="#ea5a47"
              d="M63.874 21.906a7.31 7.31 0 0 0-5.144-5.177C54.193 15.505 36 15.505 36 15.505s-18.193 0-22.73 1.224a7.31 7.31 0 0 0-5.144 5.177C6.91 26.472 6.91 36 6.91 36s0 9.528 1.216 14.095a7.31 7.31 0 0 0 5.144 5.177C17.807 56.495 36 56.495 36 56.495s18.193 0 22.73-1.223a7.31 7.31 0 0 0 5.144-5.177C65.09 45.528 65.09 36 65.09 36s0-9.528-1.216-14.094"
            ></path>
            <path fill="#fff" d="M30.05 44.65L45.256 36L30.05 27.35Z"></path>
            <g
              fill="none"
              stroke="#000"
              stroke-miterlimit="10"
              stroke-width="2"
            >
              <path
                d="M63.874 21.906a7.31 7.31 0 0 0-5.144-5.177C54.193 15.505 36 15.505 36 15.505s-18.193 0-22.73 1.224a7.31 7.31 0 0 0-5.144 5.177C6.91 26.472 6.91 36 6.91 36s0 9.528 1.216 14.095a7.31 7.31 0 0 0 5.144 5.177C17.807 56.495 36 56.495 36 56.495s18.193 0 22.73-1.223a7.31 7.31 0 0 0 5.144-5.177C65.09 45.528 65.09 36 65.09 36s0-9.528-1.216-14.094"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M30.05 44.65L45.256 36L30.05 27.35Z"></path>
            </g>
          </svg>
          <span class="font-semibold">https://youtube.com/dadanhidyt</span>
        </a>
        <a
          href=""
          class="flex bg-white py-2 px-3 card-hand items-center justify-start gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M23 9v6h-1v2h-1v2h-1v1h-1v1h-1v1h-2v1h-1v-5h-1v-1h1v-1h2v-1h1v-1h1V9h-1V6h-2v1h-1v1h-1V7h-4v1H9V7H8V6H6v3H5v5h1v1h1v1h2v2H7v-1H6v-1H4v1h1v2h1v1h3v3H8v-1H6v-1H5v-1H4v-1H3v-2H2v-2H1V9h1V7h1V5h1V4h1V3h2V2h2V1h6v1h2v1h2v1h1v1h1v2h1v2z"
            ></path>
          </svg>
          <span class="font-semibold">https://github.com/d03x</span>
        </a>
      </div>
    </div>
  </div>
</Layout>
