---
import RecentWork from "@/components/RecentWork.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Posts">
  <div class="mt-32 mb-20">
    <RecentWork all={true} />
  </div>
</Layout>
