<div>
  <div class="container px-3 lg:px-0 py-0 lg:py-19 justify-center mx-auto">
    <div class="flex flex-col lg:flex-row justify-center gap-x-7">
      <div
        class="lg:max-w-sm mx-auto lg:mx-0 lg:mb-0 mb-4 w-52 h-52 overflow-hidden lg:w-full relative card-hand border-4"
      >
        <img
          class="grayscale-75 w-full h-full object-cover aspect-square hover:grayscale-0"
          src="https://scontent-cgk2-2.xx.fbcdn.net/v/t39.30808-6/475259394_958609162902834_5804508807244131599_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeF7CD0syq3-38cSesK53xQAiSriXZbSu2WJKuJdltK7ZdGHMDsP-xx7VBEQ4GODOR2YpYF39L3FlESqibjpIOhd&_nc_ohc=bpvKEBTecswQ7kNvwE2yRGK&_nc_oc=Adm6ajW13-3YFdCQQNsXBiQSKm7zVBcK6H--9GX-rbtf95SfHkbdgyEFerT4nYQWRudsFusMa5MYiRB-Pnb8bo90&_nc_zt=23&_nc_ht=scontent-cgk2-2.xx&_nc_gid=yYD6VlFY1RAbvzYt5pMZFQ&oh=00_AfIDjfHxzjtR31mJ6op7BLzwJUstkMu92ZkGTvEUJ4yiIA&oe=682082D4"
          alt=""
        />
      </div>
      <div class="border-3 card-hand p-4 max-w-2xl bg-white border-black">
        <h1 class="text-2xl judul font-bold pb-2 mb-4">Tentang Saya</h1>
        <p>
          Saya adalah seorang Fullstack Developer yang memiliki minat besar
          dalam pengembangan web modern, mulai dari tampilan antarmuka pengguna
          hingga sistem backend yang efisien. Saya senang membangun aplikasi
          yang tidak hanya fungsional, tetapi juga memiliki desain yang menarik
          dan performa optimal. Dengan keahlian di berbagai teknologi frontend
          dan backend, saya siap menghadirkan solusi digital yang inovatif dan
          berdampak.
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  .judul {
    border-top-left-radius: 0;
    border-top-left-radius: 0;
    position: relative;
  }
  .judul::after {
    position: absolute;
    content: "";
    width: 100%;
    margin-top: 9px;
    display: block;
    background: black;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    height: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-size: contain;
    background-repeat: repeat-x;
  }
</style>
