---
import TimelineCard from "@/components/TimelineCard.astro";
---

<div>
  <div class="container space-y-4 mx-auto px-3 lg:px-24">
    <div class="flex items-center">
      <h1
        class="card-hand text-slate-900 mr-auto whitespace-nowrap text-sm lg:text-base py-2 px-6 lg:px-12 bg-blue-500 font-bold"
      >
        TIMELINE
      </h1>
    </div>
    <div class="flex flex-col">
      <TimelineCard first={true} date="Agustus 2023">
        Lulus SMK INFORMATIKA SUMEDANG REKAYASA PERANGKAT LUNAK
      </TimelineCard>
      <TimelineCard first={false} date="Juli 2023">
        Mulai bekerja IT Support di Arka Mega Nusantara (Nusa Agency)
      </TimelineCard>
      <TimelineCard first={false} date="Oktober 2023">
        Kuliah di STMIK MARDIRA INDONESIA
      </TimelineCard>
      <TimelineCard end={true} date="Oktober 2024">
        IT Support NUSA AGENCY
      </TimelineCard>
    </div>
  </div>
</div>
