<button
  tabindex="0"
  aria-label="Toggle menu"
  aria-labelledby="toggle-menu"
  class="md:hidden border-4 border-black p-2 hover:bg-gray-100 active:translate-x-1 active:translate-y-1 shadow-[4px_4px_0px_0px_rgba(0,0,0,1)]"
  tabindex="0"
  style="transform: none;"
>
  <span class="sr-only">Toggle menu</span>
  <div class="w-6 h-0.5 bg-black mb-1"></div><div
    class="w-6 h-0.5 bg-black mb-1"
  >
  </div><div class="w-6 h-0.5 bg-black"></div></button
>
