---
import type { CollectionEntry } from "astro:content";
import "@/styles/global.css";
import ToggleMenu from "@/components/ToggleMenu.astro";
import LogoBrand from "@/components/LogoBrand.astro";
import NavLink from "@/components/NavLink.astro";
import { SEO } from "astro-seo";
type Props = {
  title?: string;
  description?: string;
  image?: string;
  canonicalUrl?: string;
  pubDate?: Date;
  author?: string;
};

const {
  title = "Dadan Dev",
  description = "Dadan Dev, Web Developer Indonesia, Jasa Pembuatan Website, Frontend Developer, Backend Developer, IT Profesional, Programmer Indonesia, Freelance Web Developer, Pengembang Web, JavaScript Developer, HTML CSS JavaScript, Next.js Developer, Developer Bandung, Portofolio Web Developer, Desain Website, SEO Friendly Website",
  image = "https://avatars.githubusercontent.com/u/149863272?v=4",
  canonicalUrl = "http://d03xdev.xyz",
  author = "Dadan",
  pubDate = new Date(),
} = Astro.props;

//ok
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "article",
          image: image,
          url: canonicalUrl,
        },
        optional: {
          description: description,
          siteName: "D03xdev",
          locale: "id_ID",
        },
        article: {
          publishedTime: pubDate.toString(),
          authors: [author],
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description,
        image: image,
      }}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.css"
    />

    <style>
      body {
        font-family: "Mali", cursive;
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <header class="w-full px-4 lg:px-0 h-14 z-50 mt-4 fixed top-0">
      <nav
        class="bg-white card-hand z-50 flex items-center max-w-2xl mx-auto border-4 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] px-6 py-3"
      >
        <LogoBrand />
        <div class="ml-auto">
          <ToggleMenu />
        </div>
        <ul class="hidden lg:flex gap-6">
          <NavLink link="/">Home</NavLink>
          <NavLink link="/posts">Posts</NavLink>
          <NavLink link="/works">Works</NavLink>
          <NavLink link="/contact">Contact</NavLink>
        </ul>
      </nav>
    </header>
    <slot />
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>
